<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="pt-br">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/style.css">
  <title>Exploradores</title>
</head>
<body>
  <section id="page-exploradores" class="page active">
    <div class="section-logo">
      <span style="font-size:2rem">🦉</span>
      <span>Safari Alpha</span>
    </div>

    <div class="white-card">
      <h2>Quem está explorando?</h2>
      <p class="subtitle">Clique no seu Explorador</p>

      <div class="explorers-grid" id="explorers-grid">
        <!-- Gerado via JS -->
      </div>

      <button class="btn-novo" onclick="App.novoExplorador()">
        <span>＋</span> Criar Novo Explorador
      </button>
    </div>
  </section>

  <script src="../assets/javascript/script.js"></script>
</body>
</html>