<!-- =============================================
       PAGE 2 — EXPLORADORES
  ============================================= -->
  <section id="page-exploradores" class="page">
    <div class="section-logo">
      <span style="font-size:2rem">🦉</span>
      <span>Safari Alpha</span>
    </div>

    <div class="white-card">
      <h2>Quem está explorando?</h2>
      <p class="subtitle">Clique no seu Explorador</p>

      <div class="explorers-grid" id="explorers-grid">
        <!-- Gerado via JS -->
      </div>

      <button class="btn-novo" onclick="App.novoExplorador()">
        <span>＋</span> Criar Novo Explorador
      </button>
    </div>
  </section>